.about {
  font-size: 1.6rem;
  width: 100%;
  height: 100vh;
  background: $white;
  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  &__title {
    color: $main-color;
  }

  &__subtitle,
  &__about-author {
    font-weight: 500;
  }
}
