.header {
  display: grid;
  grid-template-columns: 2fr 5fr 5fr;
  grid-template-rows: 70px;
  grid-template-areas: "header-logo header-nav .";
  background: $main-color;
  align-items: center;

  &-logo {
    grid-area: header-logo;
    justify-self: center;
  }
  &-logo__image {
    max-width: 120px;
  }

  &-nav {
    grid-area: header-nav;
    font-size: 1.5rem;
    font-weight: 500;
    justify-self: end;

    &__list {
      display: flex;
    }

    &__list li {
      &:hover a {
        color: $black;
        transition: 0.5s all ease;
      }
    }
    &__list a {
      color: $white;
    }

    &__list {
      li {
        &:not(:last-child) {
          margin-right: 100px;
        }
      }
    }
  }
}
