.home {
    font-size: 1.6rem;
  
    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  
    &__title {
      color: $main-color;
    }
  
    &__subtitle,
    &__about-author {
      font-weight: 500;
    }
  }