* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Mukta", sans-serif;
  font-size: 10px;
}

// .container {
//   @include container();
//   @include sm(max-width, rem(510));
//   @include md(max-width, rem(690));
//   @include lg(max-width, rem(930));
//   @include xl(max-width, rem(1110));
// }
