@import "./variables";
@import "./base/general";
@import "./base/fonts";
@import "./variables";
@import "./components/header.scss";
@import "./components/about.scss";
@import "./components/movie-details.scss";
@import "./components/movies.scss";
@import "./components/pagination.scss";
@import "./components/preloader.scss";
@import "./components//movies-empty.scss";
// @import "~@openfonts/baloo-tamma-2_kannada/index.css";
// @import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;600;800&display=swap");
.container {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

.--open {
  display: block;
}
