@import "./variables";
@import "./base/general";
@import "./base/fonts";
@import "./variables";
@import "./components/header.scss";
@import "./components/about.scss";
@import "./components/movie-details.scss";
@import "./components/movies.scss";
@import "./components/pagination.scss";
@import "./components/preloader.scss";

// @import "~@openfonts/baloo-tamma-2_kannada/index.css";
// @import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;600;800&display=swap");
.container {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

.--open {
  display: block;
}

//movies-empty
.movies-empty {
  &__title {
    text-align: center;
    margin-top: 30px;
    font-size: 1.4rem;
    font-weight: 400;
  }
  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }

  &__subtitle {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
  }
}
